# Environment
ENVIRONMENT=development

# Server Configuration
PORT=8000
SERVER_READ_TIMEOUT=5s
SERVER_WRITE_TIMEOUT=15s
SERVER_IDLE_TIMEOUT=60s

# Database Configuration
DATABASE_PATH=./data/database/.db

# Session Configuration
SESSION_DURATION=24h

# WebSocket Configuration
WS_READ_BUFFER_SIZE=1024
WS_WRITE_BUFFER_SIZE=1024
WS_PING_PERIOD=54s
WS_PONG_WAIT=60s
WS_WRITE_WAIT=10s